<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>SubscriptionKeeper</servlet-name>
		<servlet-class>spaceblog.SubscriptionKeeper</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubscriptionKeeper</servlet-name>
		<url-pattern>/subscribe</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PlanetKeeper</servlet-name>
		<servlet-class>spaceblog.PlanetKeeper</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlanetKeeper</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrbitalUpdate</servlet-name>
		<servlet-class>spaceblog.OrbitalUpdate</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OrbitalUpdate</servlet-name>
		<url-pattern>/orbitalupdate</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>